.idea
.DS_Store
/job-publisher-function/bootstrap
/job-publisher-function/job-publisher-function.zip
/format-converter-function/bootstrap
/format-converter-function/format-converter-function.zip
/pixel-resizer-function/bootstrap
/pixel-resizer-function/pixel-resizer-function.zip
/metadata-extractor-function/bootstrap
/metadata-extractor-function/metadata-extractor-function.zip